@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: serif;
}
.hero-section {
  align-items: center; /* Change from flex-start to center for vertical centering */

  display: flex;
  height: 90vh;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  margin-top: 0; /* No need for a top margin when we're using full height */
}

.custom-teal-bg {
  background-color: #02a8ae;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
.card-grid {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: calc(70.33% - 10px);
  margin: 7px;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  font-family: ui-sans-serif;
  color: var(--text-light);
  font-size: 1.6rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 0.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  /* word-spacing: 100vw; */
  padding-top: 10px;
}

.card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 5px;
  height: 350px;
  align-items: center;
  justify-content: center;
}

.card__background {
  height: 400;
  background-size: cover;
}

.card__content {
  padding: 15px;
}

.card__social-media {
  display: flex;

  padding-top: 250px;
}

.card__social-media i {
  color: #000;
  font-size: 20px;
  margin: 0 5px;
}

.lang-dropdown {
  position: absolute;
  left: 100px;
  top: 50px;
  background-color: gainsboro;
}

/* news card */
.btn {
  /* color: #ffffff; */
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  background: transparent;
}

/* .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
} */

.cards {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between; 
  flex-wrap: wrap;
  flex-basis: calc(33.33% - 10px);
}

.cards_item {
  display: flex;
  padding: 20px;
  flex: 1; 
  margin: 10px 10px; 
  box-sizing: border-box; 
}

@media (min-width: 70rem) {
  .cards_item {
    width: 40%; 
  }
}

@media (min-width: 56rem) and (max-width: 69.99rem) { 
  .cards_item {
    width: 33.3333%;
  }
}

.card_news {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%; 
}

.card_content_news {
  padding: 1rem;
}

.card_title {
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 1px;
  /* text-transform: capitalize; */
  margin: 0px;
}

.card_text {
  font-size: 1rem; 
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
